@import url(./normalize.css);
@import url(./reset.css);

.a11y-hidden {
  background-color: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 데스크탑 사이즈(공통) */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0 35px;
}

a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.header-inner {
  width: 100%;
  gap: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
  font-weight: 500;
  font-size: 14px;
}

.header-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 40px;
}

.menu-bar {
  background-color: orangered;
  width: 10%;
}

button {
  background-color: darkgreen;
}

main {
  background-color: rgb(234, 234, 234);
  height: 1274px;
  padding: 40px 35px;
}

.main-inner {
  display: grid;
  grid-template-rows: repeat(4, 274px);
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

section {
  background-color: aqua;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

section:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/3;
  background-image: url(/assets/section_image_1.png);
}
section:nth-child(2) {
  background-image: url(/assets/section_image_2.png);
}

section:nth-child(3) {
  grid-row: span 2;
  background-color: #ff565c;
}

section:nth-child(4) {
  grid-row: span 2;
  background-color: white;
  color: black;
}

section:nth-child(5) {
  grid-column: span 2;
  background-image: url(/assets/section_image_5.png);
}

section:nth-child(6) {
  background-image: url(/assets/section_image_6.png);
}

section:nth-child(7) {
  background-image: url(/assets/section_image_7.png);
}

section:nth-child(8) {
  background-image: url(/assets/section_image_8.png);
}

footer {
  background-color: black;
  color: rgb(149, 149, 149);
  height: 160px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.footer-inner {
  width: 100%;
  gap: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-inner-title {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.footer-copyright {
  flex-grow: 1;
}

.footer-copyright span {
  display: inline-block;
}

.footer-menu-list {
  display: flex;
  flex-grow: 1;
  font-weight: 700;
}

.footer-menu-list ul {
  display: flex;
  flex-flow: row wrap;
}

.footer-menu-list li {
  display: flex;
  align-items: center;
  width: 160px;
}

.footer-menu-list li a {
  color: white;
}

.footer-inner-right {
  display: flex;
  flex-direction: column;
}

.footer-follow-us {
  display: flex;
  justify-content: flex-end;
}

.footer-follow-us ul {
  display: flex;
  gap: 16px;
  margin-left: 16px;
}

.footer-search-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.footer-search-bar button {
  width: 120px;
  height: 35px;
  color: white;
  background-color: #ff565c;
  border: none;
}

.footer-search-bar input {
  border: none;
  text-indent: 10px;
  width: 180px;
}

/* 태블릿 사이즈 */
@media (max-width: 768px) {
  header {
    padding: 0 15px;
  }

  main {
    height: 1800px;
    padding: 30px 15px;
  }

  .main-inner {
    grid-template-rows: repeat(6, 274px);
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  section:nth-child(1) {
    grid-column: 1/3;
    order: 1;
  }

  section:nth-child(2) {
    order: 7;
  }

  section:nth-child(3) {
    order: 5;
    grid-row: span 1;
    grid-column: 1/3;
  }

  section:nth-child(4) {
    order: 2;
  }

  section:nth-child(5) {
    display: none;
  }

  section:nth-child(6) {
    order: 3;
  }

  section:nth-child(7) {
    order: 4;
  }

  section:nth-child(8) {
    order: 6;
  }

  .header-nav {
    display: none;
  }

  footer {
    height: auto;
    padding: 15px 15px;
  }

  .footer-inner {
    justify-content: start;
    flex-flow: wrap;
    gap: 15px;
    height: auto;
  }
  .footer-inner-title {
    max-width: 200px;
  }

  .footer-menu-list {
    max-width: 400px;
    flex-flow: row wrap;
  }
  .footer-menu-list li {
    margin-bottom: 5px;
    flex-grow: 1;
  }

  .footer-inner-right {
    flex-flow: row-reverse;
  }

  .footer-follow-us {
    margin: auto;
    margin-left: 30px;
  }

  .footer-search-bar {
    margin: auto;
  }
}

/* 모바일 사이즈 */
@media (max-width: 375px) {
  header {
    padding: 0 15px;
  }

  main {
    height: 2380px;
    padding: 30px 15px;
  }

  .main-inner {
    grid-template-rows: repeat(9, 274px);
    grid-template-columns: 1fr;
    gap: 15px;
  }

  section:nth-child(1) {
    order: 1;
    grid-column: 1/3;
  }

  section:nth-child(2) {
    order: 3;
    grid-column: 1/3;
    grid-row: 5/6;
  }

  section:nth-child(3) {
    order: 4;
    grid-column: 1/3;
    grid-row: 6/8;
  }

  section:nth-child(4) {
    grid-row: 3/5;
    grid-column: 1/3;
    order: 2;
  }

  section:nth-child(5) {
    display: none;
  }

  section:nth-child(6) {
    order: 3;
    grid-column: 1/3;
  }

  section:nth-child(7) {
    display: none;
  }

  section:nth-child(8) {
    display: none;
  }

  .header-nav {
    display: none;
  }

  footer {
    height: auto;
    padding: 15px 15px;
  }

  footer div:nth-child(3) {
    order: 4;
    width: 80%;
  }

  .footer-inner-right {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-follow-us {
    margin: 15px 0;
  }

  .footer-search-bar {
    margin: 0;
  }
}
